.all_products {
    margin: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.filter {
    margin-bottom: 20px;
  }
  
.filter select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
  
  .filter select:focus {
    outline: none;
    border-color: #007bff;
  }